@media (max-width: 769px) {

    /* Menssagem flash */
    .flash-messages {
        width: 40vw;
    }

    /* Nav */
    header nav {
        width: 60%;
    }

    /* Home */

    .sobre_p {
        max-width: 90%;
    }

    .servico_card {
        min-width: 30vw;
        height: 420px;
        font-size: var(--font-texto-responsivo);
    }

    .banner h1 {
        font-size: 2.9em;
    }

    .banner p {
        font-size: 1.5em;
        margin-top: 10px;
    }

    .banner {
        height: 300px;
    }

    .banner_button {
        margin-top: 30px;
        height: 50px;
        font-size: 1.5em;
    }

    .banner h1,
    .banner p {
        margin-left: 40px;
    }

    .fundo_sem_chapeu {
        background-image: var(--gradient_fundo);
    }

    .fundo_com_chapeu {
        background-image: var(--gradient_fundo);
    }

    .fundo_com_chapeu .fundo_form,
    .fundo_sem_chapeu .fundo_form {
        width: 50vw;
        margin: auto;
        left: 0;
    }

    .div_cf {
        width: 40vw;
        margin: 10px auto;
    }

    .receitas .card_valores,
    .despesas .card_valores {
        width: 70%;
    }

    .usuarios,
    .adms,
    .taxas {
        justify-content: center;
        font-size: var(--font-texto-responsivo);
    }

    .fundo .fundo_form {
        width: 50vw;
    }

    footer>small>p {
        font-size: 1em;
    }

    .footer_endereco p {
        font-size: var(--font-texto-responsivo);
    }

    nav a {
        font-size: 20px;
    }

    header a {
        text-align: center;
    }

    label {
        font-size: 25px;
    }

    input {
        font-size: 17px;
    }

    /* Footer */

    footer p {
        font-size: 17px;
    }

    /* Cadastro */

    .fundo_sem_chapeu .fundo_form,
    .etapas_cadastro {
        width: 60vw;
        margin: auto;
        left: 0;
    }

    .etapas_cadastro {
        width: 40vw;
        margin-bottom: 20px;
    }

    /* Dashboard */
    .fundo_dash {
        flex-direction: column;
    }

    .nav_dash {
        flex-direction: row;
        width: auto;
    }

    .nav_dash a {
        width: 160px;
    }

    .emprestimo {
        width: 45vw;
    }

    .meses {
        display: none;
    }

    .meses_select {
        display: flex;
        text-align: center;
    }

    .infos_historico {
        margin: 20px auto;
    }

    .grafico {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .fundo_perfil a{
        margin: 0 10px;
    }

    .dash_movimenta .card_valores {
        padding: 10px;
    }
}

@media (max-width: 426px) {

    /* Menssagem flash */
    .flash-messages {
        margin: auto;
        width: 90vw;
        left: 0;
        right: 0;
    }

    .sucesso,
    .erro {
        font-size: var(--font-texto-responsivo);
    }

    /* header */
    header {
        flex-direction: row;
    }

    .header_perfil_adm{
        flex-direction: column;
    }

    .header_perfil_adm h2{

    }

    #nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        box-shadow: 2px 6px 11px 0px #000000c7;
        left: 0;
        top: 84px;
    }

    .fechado,
    .aberto {
        background-color: white;
        width: 100vw;
        top: 136px;
    }

    .fechado {
        position: absolute;
        animation: fecha .5s forwards;
        left: -600px;
    }

    .aberto {
        position: sticky;
        animation: abre .5s forwards;
        z-index: 2;
    }

    .rodar {
        animation: girar .5s forwards;
    }

    .rodar2 {
        animation: girar2 .5s;
    }

    #nav a {
        margin: 10px 0;
        text-align: center;
        font-size: 1.5em;
    }

    #menu_hamburguer,
    #menu_hamburguer_dash {
        display: flex;
        height: 53px;
        flex-direction: column;
        justify-content: space-evenly;
        background: none;
        border: none;
    }

    #menu_hamburguer img {
        width: 50px;
        height: 50px;
    }

    /* .escuro {
        height:100vh;
        position: fixed;
        top: 0px;
        z-index: 1;
        background-color: black;
        width: 100vw;
        opacity: .4;
    } */

    /* footer */
    .footer_infos {
        flex-direction: column;
    }

    .footer_endereco {
        width: 90vw;
    }

    .footer_endereco p {
        text-align: center;
    }

    .logo_footer {
        width: 100vw;
    }

    .logo_footer img {
        width: 40vw;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    footer .footer_nav {
        margin-bottom: 20px;
    }

    footer nav a {
        width: 90vw;
        font-size: 1.23em;
    }

    footer>small>p {
        text-align: center;
        margin-top: 20px;
    }

    /* index */
    .banner_infos div {
        margin: auto;
    }

    .banner_infos h1,
    .banner_infos p {
        margin: 10px;
    }

    .banner_infos h1 {
        font-size: var(--font-titulo-responsivo);
    }

    .banner_infos p {
        font-size: 1.5em;
        max-width: 310px;
        margin-left: 10px;
        margin-right: 0px;
        width: 100%;
    }

    .banner_button {
        font-size: 1.7em;
        margin: 20px 20px;
    }

    .banner {
        background-image: var(--gradient_fundo);
        height: 300px;
    }

    .servicos {
        flex-wrap: wrap;
    }

    .servicos_h1 {
        font-size: 2em;
    }

    .servicos img {
        width: 50px;
    }

    .servicos p {
        font-size: .9em;
    }

    .servico_card {
        height: 250px;
        width: 90vw;
    }

    .div_icone {
        margin-top: 5px;
    }

    .sobre {
        display: block;
        padding-top: 5px;
    }

    .sobre div h1 {
        text-align: center;
        margin-top: 0;
        font-size: 2em;
    }

    .sobre_p {
        max-width: 100vw;
        text-align: justify;
        margin: 20px 0;
        font-size: var(--font-texto-responsivo);
    }

    .fundo_sobre_items {
        width: 80vw;
        margin: auto;
        padding: 10px;
        min-height: 200px;
    }

    .como_funciona {
        display: block;
    }

    .div_cf {
        width: 90vw;
    }

    .como_funciona h1 {
        font-size: 2em;
    }

    .cf_dupla_div {
        flex-wrap: wrap;
    }

    .como_funciona .cf_dupla_div .div_cf img {
        width: 50px;
    }

    /* cadastro */
    .fundo_sem_chapeu .fundo_form,
    .etapas_cadastro {
        width: 90vw;
    }

    /* login */
    .fundo_com_chapeu .fundo_form {
        width: var(--width-form-responsivo);
        margin: auto;
        left: 0;
    }

    /* perfil */
    .fundo_perfil .infos_perfil {
        flex-direction: column;
    }

    .fundo_perfil .infos_perfil div {
        width: 100%;
        margin-bottom: 20px;
    }

    .fundo_perfil .infos_perfil div div {
        flex-wrap: wrap;
        width: 100%;
    }

    .fundo_perfil .infos_perfil div div p:first-child{
        margin-bottom: 10px;
    }

    .fundo_perfil .infos_perfil div div p{
        margin: auto;
        text-align: center;
        font-size: 1.4em;
    }
    .container_cards {
        flex-direction: column;
        margin: 15px auto;
    }

    .fundo_perfil .card_valores {
        width: 100%;
        margin: 10px 0;
    }

    /* adicionar adm e taxa */
    .adicionar_taxa {
        height: 34.4px;
    }

    .fundo .fundo_form {
        width: var(--width-form-responsivo);
    }

    /* dashboard */
    .header_dash {
        flex-direction: row;
    }

    .header_dash .aberto {
        top: 83px;
    }

    .header_dash .fechado {
        top: 83px;
    }

    .nav_dash {
        position: absolute;
        z-index: 1;
        box-shadow: 2px 6px 11px 0px #000000c7;
        width: 100%;
        background-color: white;
        left: -600px;
        animation: abre .1s forwards;
        flex-direction: column;
    }

    #menu_hamburguer_dash {
        height: 53px;
        margin: auto;
    }

    #menu_hamburguer_dash img {
        width: 50px;
        height: 50px;
    }

    .fundo_dash {
        flex-direction: column;
    }

    .nav_dash.aberto {
        animation: abre 0.5s forwards;
        position: static;
        top: 183px;
        z-index: 1;
    }

    .nav_dash.fechado {
        animation: fecha 0.5s forwards;
        left: -600px;
    }

    #menu_hamburguer span,
    #menu_hamburguer_dash span {
        display: flex;
        background-color: var(--preto);
        height: 0.35em;
        width: 4em;
        border-radius: 20px;
    }

    .some_c {
        display: none;
    }

    .aparece_c {
        display: inline;
    }

    .grafico img {
        width: 100%;
    }

    .card_valores {
        width: 100% !important;
        margin: 10px 0;
    }

    .card_valores p {
        font-size: var(--font-texto-responsivo);
    }

    .card_historico {
        display: flex;
        flex-direction: column;
        max-height: 370px;
    }

    .card_historico p {
        font-size: var(--font-texto-responsivo);
    }

    .emprestimo {
        width: 100%;
        margin: 10px 0;
    }

    .infos_dash {
        flex-direction: column;
    }

    .receitas,
    .despesas {
        margin: auto;
    }

    .dash_movimenta .card_valores {
        text-align: center;
    }

    .receitas,
    .despesas,
    .dsah_movimenta .card_valores,
    .card_receita,
    .card_despesa {
        width: 95%;
    }

    .nav_dash_outra {
        flex-direction: column;
    }

    .dash_historico .receitas .d-flex {
        flex-direction: column;
    }

    .grafico{
        display: none;
    }
}

@media (max-width: 376px) {
    footer span {
        display: none;
    }

    footer nav a {
        display: inline-block;
        margin: 15px 0;
    }
}