@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gradient_fundo: linear-gradient(to right bottom, #3FA110 9%, #173B06 100%);
    /* Gradient do fundo */
    --sombra: 0px 4px 5px 4px lightgray;
    /* Sombras nas caixas/cards */
    --verde_banner: #33830D;
    --verde_medio: #146E37;
    /*Cor do footer, botão dashboard*/
    --verde_claro: #00C94E;
    /*Botão dashboard selecionado*/
    --verde_botao: #168C44;
    /*Cor dos botões de formulários*/
    --verde_destraque: #4FFF4F;
    /*Cor do adicionar receita*/
    --verde_alert: #008E2B;
    /*Cor do alerta de coisas que deram certo*/
    --verde_borda: #57C647;
    /*Cor da borda de coisas com borda verde*/
    --verde_positivo: #379d46;
    /* Cor da letra de valores positivos */
    --vermelho_destaque: #FF5C5C;
    /*Cor do adicionar despesa*/
    --vermelho_alert: #FF0000;
    /*Cor do alerta de coisas que deram errado*/
    --vermelho_negativo: #BA3838;
    /* Cor da letra de valores negativos */
    --azul_saldo: #121BCE;
    /* Cor azul do saldo */
    --preto: black;
    --borda-raio: 15px;
    /* Raio da borda */
    --font-titulo: 3em;
    /* Tamanho da fonte do título */
    --font-texto: 1.3em;
    /* Tamanho da fonte do texto */
    --font-titulo-responsivo: 2.5em;
    /* Tamanho da fonte do título responsivo */
    --font-texto-responsivo: 1.1em;
    /* Tamanho da fonte do texto responsivo */
    --width-form: 30%;
    /* Largura do formulário */
    --width-form-responsivo: 90vw;
    /* Largura do formulário responsivo */
    --transicao: .5s;
    /* Duração da transição */
    --borda-botao: rgb(228, 228, 228);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'nunito';
}

.d-flex {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

.between {
    align-items: center;
    justify-content: space-between;
}

.around {
    align-items: center;
    justify-content: space-around;
}

.evenly {
    align-items: center;
    justify-content: space-evenly;
}

.column {
    flex-direction: column;
}

.formata_altura {
    min-height: calc(100vh - 267px);
}

.fundo {
    background-image: var(--gradient_fundo);
    color: white;
    padding: 10px 0;
}

.btn {
    color: white;
    background-color: var(--verde_botao);
    padding: 10px;
    border-radius: var(--borda-raio);
    display: inline-block;
    transition: var(--transicao);
}

.btn:hover {
    background-color: var(--verde_medio);
    transition: var(--transicao);
}

.btn>img {
    filter: invert(1);
}

#menu_hamburguer,
#menu_hamburguer_dash {
    display: none;
}

header {
    padding: 10px;
}

header nav {
    width: 50%;
}

header nav a {
    color: var(--preto);
    transition: var(--transicao);
    padding: 10px;
    border-radius: var(--borda-raio);
}

header nav a:hover {
    background-color: var(--verde_medio);
    color: white;
    transition: var(--transicao);
    border-radius: var(--borda-raio);
}

header nav .logar {
    background-color: var(--verde_botao);
    color: white;
    padding: 10px;
    border-radius: var(--borda-raio);
}

header nav .logar:hover {
    background-color: var(--verde_medio);
}

header nav div {
    gap: 10px;
    margin-bottom: 10px;
}

header nav #perfil {
    background-color: var(--verde_botao);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: inline-block;
    padding: 0;
    text-align: center;
    line-height: 55px;
}

header nav #perfil img,
.perfil_img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    vertical-align: middle;
}

header nav div a {
    display: inline-block;
}

header>a>img{
    max-width: 160px;
    max-height: 70px;
}

footer {
    background-color: var(--verde_medio);
    color: white;
    padding: 15px;
}

footer div div {
    width: 25%;
}

footer div .semBr {
    display: inline-block;
}

footer div .infosFooter {
    text-align: center;
}

footer hr {
    width: 98%;
    margin: auto;
    margin: 20px 0;
}

footer nav {
    text-align: center;
}

footer nav a,
footer nav span {
    margin: 0 5px;
    color: white;
    transition: var(--transicao);
}

footer nav a:hover {
    padding: 20px;
    transition: var(--transicao);
}

footer>small>p {
    text-align: right;
    width: 100%;
    padding-right: 10px;
    margin-top: 15px;
}

footer .redes {
    width: 30px;
}

.footer_endereco p {
    margin: 5px 0;
    text-align: center;
    font-size: var(--font-texto-responsivo);
}

h1 {
    font-family: "Exo 2";
    font-weight: 500;
}

.fundobanner {
    background-image: var(--gradient_fundo);
}

.banner {
    height: 500px;
    background-image: url('../img/img_fundo_banner.png'), var(--gradient_fundo);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner h1 {
    font-size: 5em;
    max-width: 600px;
    margin: 30px 0 0 100px;
}

.banner_infos {
    display: flex;
}

.banner p {
    font-size: 1.8em;
    max-width: 500px;
    width: 100%;
    margin: 30px 0 0 105px;
}

.banner_button {
    background-color: white;
    color: var(--verde_medio);
    padding: 7px 30px 15px 30px;
    height: 60px;
    border-radius: 10px;
    display: inline-block;
    font-size: 2.2em;
    margin: 50px 0 0 105px;
    transition: var(--transicao);
}

.banner_button:hover {
    scale: 1.1;
    transition: var(--transicao);
}

.servicos {
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-self: center;
}

.servicos_h1 {
    margin: 10px 0 20px 0;
    font-size: var(--font-titulo);
    text-align: center;
    color: var(--verde_banner);
}

.servico_card {
    height: 300px;
    min-width: 300px;
    background-color: white;
    padding: 10px;
    width: 25%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: var(--borda-raio);
    box-shadow: var(--sombra);
}

.div_icone {
    margin-top: 20px;
}

/* Caso for colocar cor de fundo no icone */
/*
.div_icone {
    display: flex;
    height: 130px;
    width: 130px;
    align-items: center;
    justify-content: center;
} */

.fundo_com_chapeu {
    background-image: url(../img/homem_com_chapeu.png);
    background-position: center center;
}

.fundo_sem_chapeu {
    background-image: url(../img/homem_sem_chapeu.png);
    justify-content: center;
}

.fundo_sem_chapeu,
.fundo_com_chapeu {
    min-height: calc(100vh - 84px - 183px);
    display: flex;
    align-items: center;
    padding: 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo .fundo_form {
    background-color: white;
    padding: 10px;
    width: var(--width-form);
    border-radius: var(--borda-raio);
    color: var(--preto);
}

.fundo_com_chapeu .fundo_form {
    background-color: white;
    padding: 10px;
    width: var(--width-form);
    left: 100px;
    position: relative;
    border-radius: var(--borda-raio);
}

.fundo_sem_chapeu .fundo_form {
    background-color: white;
    padding: 10px;
    width: var(--width-form);
    left: calc(37.5% - 100px);
    position: relative;
    border-radius: var(--borda-raio);
}

.fundo_form a {
    color: var(--verde_medio);
    font-weight: bold;
}

.fundo_form a:visited {
    color: var(--verde_medio);
}

form label,
form input,
form button,
form a {
    display: block;
    width: 100%;
    border: none;
    padding: 10px 5px;
    border-radius: var(--borda-raio);
}

form button:hover {
    background-color: var(--verde_medio);
    transition: var(--transicao);
}

form .btn_cancelar {
    color: var(--vermelho_destaque);
    border: 2px solid var(--vermelho_negativo);
    width: 100%;
    margin: 10px auto;
    font-size: 20px;
    transition: var(--transicao);
}

form .btn_cancelar:hover {
    background-color: var(--vermelho_negativo);
    color: white;
    transition: var(--transicao);
}

form .btn_cancelar:hover:visited {
    background-color: var(--vermelho_negativo);
    color: white;
    transition: var(--transicao);
}

form .btn_cancelar:visited {
    color: var(--vermelho_destaque);
    transition: var(--transicao);
}

.login_perfil_adm {
    color: black;
}

form button {
    background-color: var(--verde_botao);
    color: white;
    font-size: var(--font-texto);
    margin-top: 10px;
    transition: var(--transicao);
}

form input {
    background-color: lightgray;
}

.erroSenha {
    color: var(--vermelho_alert);
}

.acertoSenha {
    color: var(--verde_alert);
}

.etapas_cadastro {
    width: 25%;
    position: relative;
    left: calc(37.5% - 100px);
    margin-bottom: 20px;
}

.etapas_cadastro h2 {
    color: white;
}

.etapas_cadastro .bola {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
}

.etapas_cadastro>div {
    width: 100%;
}

.etapas_cadastro hr {
    width: calc(55% - 100px);
    padding: 2px;
    background-color: white;
    border: none;
}

.etapas_cadastro .bolaP {
    width: 60px;
    height: 60px;
    background-color: var(--verde_medio);
    color: white;
}

.div_senha {
    text-align: right;
}

#olho_fechado_s,
#olho_aberto_s,
#olho_fechado_cs,
#olho_aberto_cs {
    width: 25px;
    position: relative;
    top: -30px;
    right: 10px;
    cursor: pointer;

}

#olho_aberto_s,
#olho_aberto_cs {
    display: none;
}

.fundo .fundo_perfil {
    background-color: white;
    width: 90%;
    color: var(--preto);
    margin: auto;
    padding: 20px;
    border-radius: var(--borda-raio);
}

.fundo_perfil .infos_perfil {
    width: 95%;
    margin: 30px auto 0;
    background-color: white;
    box-shadow: var(--sombra);
    padding: 10px;
    border-radius: var(--borda-raio);
}

.fundo_perfil .btn {
    display: inline-block;
    margin-bottom: 10px;
}

.fundo_perfil .infos_perfil div {
    width: 45%;
}

.fundo_perfil .infos_perfil div div {
    width: 80%;
}

.fundo_perfil h2 {
    width: 100%;
}

.infos_perfil img {
    width: 30px;
}

.infos_perfil>div>div>p:first-child {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.positivo {
    color: var(--verde_positivo);
}

.negativo {
    color: var(--vermelho_negativo);
}

.container_cards {
    width: 95%;
    margin: 40px auto 30px;
}

.card_valores {
    box-shadow: var(--sombra);
    border-radius: var(--borda-raio);
    height: 100px;
    padding: 10px 0 10px 30px;
}

.fundo_perfil .card_valores {
    box-shadow: var(--sombra);
    border-radius: var(--borda-raio);
    height: 100px;
    padding: 10px 0 10px 30px;
    width: 45%;
}

.fundo_cards_adm {
    background-color: lightgray;
    padding: 10px;
    border-radius: var(--borda-raio);
    max-width: 120px;
    min-width: 120px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10PX;
}

.taxa img {
    width: 20px;
}

.adm_info {
    margin-bottom: 10px;
}

.adms,
.usuarios,
.taxas {
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 300px;   
}

.usuarios>div>p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.adicionar_taxa,
.adicionar_adm {
    border-radius: 100%;
    border: 1px solid var(--preto);
    padding: 0 10px;
    font-size: 1.5em;
    font-weight: 400;
    margin: 2px 0 10px 10px;
    display: inline-block;
    color: white !important;
    background-color: var(--verde_botao);
}

.adicionar_taxa:visited,
.adicionar_adm:visited{
    color: white !important;
}

.cadastrar_adm {
    margin: 50px auto 50px auto;
}

.adm_info div a {
    color: var(--preto);
}

.card_valores p {
    margin-top: 30px;
}

.grafico {
    width: 100%;
}

.grafico img {
    width: 60%;
}

.grafico-container,
.ano-selector {
    text-align: center;
}

.grafico-container h3, .grafico-container p{
    margin: 15px auto;
}

.ano-selector select{
    border-radius: var(--borda-raio);
    padding: 3px;
}

.faixa_dash {
    background-color: var(--verde_medio);
    color: white;
    padding: 10px 20px;
}

.nav_dash {
    min-width: 155px;
    width: 15%;
    box-shadow: 5px 0 5px -1px lightgray;
}

.nav_dash a,
.nav_dash_outra a {
    margin: 10px 0;
    min-width: 140px;
    text-align: center;
}

.fundo_dash .card_valores {
    width: 25%;
}

.infos_dash {
    width: 100%;
}

.selecionado {
    background-color: var(--verde_claro);
}

.dash_historico {
    width: 100%;
}

.card_historico {
    overflow-y: scroll;
    max-height: 200px;
}

.card_historico .card_receita p {
    width: 50%;
    text-align: center;
}

.dash_historico .receitas {
    width: 100%;
}

.dash_historico .card_valores {
    width: 70% !important;
}

.infos_historico {
    width: 80%;
    margin: auto;
    border-radius: var(--borda-raio);
    box-shadow: var(--sombra);
}

.cabecalho_historico{
    background-color: var(--verde_claro);
    position: sticky;
    top: 0;
    z-index: 1;
}

.cabecalho_historico p{
    font-weight: bold;
}

.cabecalho_historico p {
    font-size: 1.4em;
}

.meses,
.meses_select {
    border-radius: 15px 15px 0 0;
    width: 100%;
    left: -1px;
}

.meses_select {
    height: 40px;
    background-color: lightgray;
    border: none;
    display: none;
}

.meses,
.btn_mes {
    background-color: lightgray;
}

.meses form {
    width: 8.33%;
    margin-top: -10px;
}

.jan {
    border-radius: 15px 0 0 0 !important;
}

.dez {
    border-radius: 0 15px 0 0 !important;
}

.btn_mes {
    background-color: none;
    color: black;
    font-size: medium;
    transition: var(--transicao);
    border: none;
    border-radius: 0;
}

.btn_mes:hover {
    background-color: var(--verde_botao);
    color: white;
    transition: var(--transicao);
}

.aparece_c {
    display: none;
}

.dash_movimenta .card_valores {
    width: 45%;
    margin: auto;
    padding: 10px 40px;
}

.adicionar_despesa,
.adicionar_receita {
    margin-right: 15px;
    font-size: 1.5em;
}

.adicionar_despesa {
    color: var(--vermelho_destaque);
    transition: var(--transicao);
}

.adicionar_despesa:hover {
    color: #b64040;
    transition: var(--transicao);
}

.adicionar_receita {
    color: var(--verde_destraque);
    transition: var(--transicao);
}

.adicionar_receita:hover {
    color: #309c30;
    transition: var(--transicao);
}

.receitas,
.despesas {
    width: calc(65% - 15%);
}

.card_extratos {
    overflow-y: scroll;
    max-height: 400px;
}

.card_extratos h3 {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dash_movimenta .card_receita,
.dash_movimenta .card_despesa {
    width: 90%;
    margin: 20px auto;
    box-shadow: var(--sombra);
    padding: 5px;
    border-radius: var(--borda-raio);
}

.card_extratos .card_despesa,
.card_extratos .card_receita {
    justify-content: space-between;
    padding: 10px;
}

.card_extratos .card_despesa,
.card_extratos .card_receita {
    min-height: 82px;
}

.editar img,
.excluir img {
    width: 40px;
}

.editar-fora-perfil img {
    width: 30px;
}

.opicoes-nav {
    background-color: var(--verde_botao);
    border-radius: var(--borda-raio);
}

.emprestimo {
    width: 30vw;
    box-shadow: var(--sombra);
    border-radius: var(--borda-raio);
    padding: 10px;
}

.sobre {
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    min-height: 300px;
}

.sobre div h1 {
    font-size: var(--font-titulo);
}

.sobre_p {
    max-width: 50%;
    font-size: var(--font-texto);
}

.fundo_sobre_items {
    display: flex;
    color: var(--preto);
    width: 350px;
    background-color: white;
    height: 130px;
    justify-content: space-around;
    border-radius: 12.5px;
}

.fundo_sobre_items p {
    width: 100%;
}

.divisor_items {
    width: 100%;
    gap: 10px;
}

.sobre_items {
    width: 50%;
    text-align: center;
}

.cf_titulo {
    margin-top: 5px;
    text-align: center;
    font-size: var(--font-titulo);
    color: var(--verde_banner);
}

.como_funciona {
    text-align: center;
}

.div_cf {
    display: flex;
    padding: 17px;
    width: 30vw;
    height: 10em;
    border: var(--verde_borda) solid;
    border-radius: 10px;
    flex-flow: row;
    margin: 20px 0;
    align-items: center;
}

select#situacao,
select#tipo {
    width: 100%;
    padding: 10px;
    border-radius: var(--borda-raio);
}

.flash-messages {
    position: absolute;
    width: 25vw;
    top: 100px;
    right: 10px;
    z-index: 1;
    transition: 1s;
    animation: aparecer 5s forwards;
}

.sucesso,
.erro {
    padding: 20px;
    border-radius: var(--borda-raio);
}

.sucesso {
    background-color: rgba(56, 177, 56, 0.9);
    color: white;
}

.erro {
    background-color: rgb(255, 143, 143);
}

.nenhum {
    text-align: center;
}

.periodo_taxa {
    margin: 10px 0;
}

.valor_taxa {
    font-size: 1.5em;
    margin-top: 10px;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes girar2 {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes abre {
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes fecha {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-600px);
    }
}

@keyframes aparecer {
    0% {
        transform: translateY(-200px);
    }

    10% {
        transform: translateY(0px);
    }

    92% {
        opacity: 1;
    }

    94% {
        opacity: 0.7;
    }

    96% {
        opacity: 0.4;
    }

    98% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

/* remover depois */

.fundo_form h2 a {
    color: black;
}

.fundo_form h2 a:visited {
    color: black;
}