<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auro - Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsivo.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Logo_favicon.png') }}" type="image/x-icon" />
</head>

<body>
    <header class="d-flex between">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo_escura.png') }}"
                alt="logo"></a>
        <button onclick="menu()" id="menu_hamburguer"><img
                src="{{ url_for('static', filename='img/icon_menu_hamburguer.png') }}"
                alt="icone menu hamburguer"></button>
        <nav class="d-flex around fechado" id="nav">
            <a href="{{ url_for('index') }}#servicos">Nossos serviços</a>
            <a href="{{ url_for('index') }}#sobre">Quem somos</a>
            <a href="{{ url_for('index') }}#como_funciona">Como funciona</a>
            <a href="{{ url_for('abrir_login') }}" class="logar">Acessar minha conta</a>
        </nav>
    </header>

    <main>
        <input type="hidden" id="etapa_atual" value="{{ etapa|default(1) }}">

        <!-- Primeira etapa -->
        <section id="etapa1" class="fundo_sem_chapeu column">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div class="etapas_cadastro d-flex column center">
                <h2>Etapas do cadastro</h2>
                <div class="d-flex center">
                    <div class="bola bolaP d-flex center">
                        <p>1</p>
                    </div>
                    <hr>
                    <div class="bola d-flex center">
                        <p>2</p>
                    </div>
                    <hr>
                    <div class="bola d-flex center">
                        <p>3</p>
                    </div>
                </div>
            </div>
            <div class="fundo_form">
                <h2 class="d-flex center">Informe seus dados</h2>
                <form action="{{ url_for('cadastro') }}" method="post">
                    <input type="hidden" name="etapa" value="1">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome" oninput="validaEspaco()" required
                        value="{{ session.get('nome', '') }}">

                    <label for="cpf">CPF</label>
                    <input type="text" minlength="11" maxlength="11" pattern="\d{11}" name="cpf" id="cpf"
                        placeholder="Digite seu CPF" oninput="this.value = this.value.replace(/\D/g , '')" required value="{{ session.get('cpf', '') }}">
                    <label for="dataNascimento">Data de nascimento</label>
                    <input type="date" name="dataNascimento" id="dataNascimento" required
                        value="{{ session.get('dataNascimento', '') }}" max="9999-12-31">

                    <a href="{{ url_for('abrir_login') }}">* Já tenho cadastro</a>
                    <button type="submit">Próximo</button>
                </form>
            </div>
        </section>

        <!-- Segunda etapa -->
        <section id="etapa2" style="display: none;" class="fundo_sem_chapeu column">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div class="etapas_cadastro d-flex column center">
                <h2>Etapas do cadastro</h2>
                <div class="d-flex center">
                    <div class="bola d-flex center">
                        <p>1</p>
                    </div>
                    <hr>
                    <div class="bola bolaP d-flex center">
                        <p>2</p>
                    </div>
                    <hr>
                    <div class="bola d-flex center">
                        <p>3</p>
                    </div>
                </div>
            </div>
            <div class="fundo_form">
                <h2 class="d-flex center">Crie sua senha</h2>
                <form action="{{ url_for('cadastro') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="etapa" value="2">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu email" oninput="validaEspacoEmail()" required
                        value="{{ session.get('email', '') }}">

                    <label for="senha">Senha</label>
                    <div class="div_senha">
                        <input type="password" name="senha" id="senha" placeholder="Digite sua senha" oninput="validaEspacoSenha()" required>
                        <img src="{{ url_for('static', filename='img/icon_olho_fechado.png') }}" alt="icon olho fechado"
                            id="olho_fechado_s" onclick="verSenha()">
                        <img src="{{ url_for('static', filename='img/icon_olho_aberto.png') }}" alt="icon olho aberto"
                            id="olho_aberto_s" onclick="verSenha()">
                    </div>

                    <p class="erroSenha" id="especial">* Caracter especial</p>
                    <p class="erroSenha" id="numero">* Número</p>
                    <p class="erroSenha" id="maiuscula">* Maiúscula</p>
                    <p class="erroSenha" id="minuscula">* Minúscula</p>
                    <p class="erroSenha" id="quantidade">* Mínimo 8 caracteres</p>

                    <label for="confirmaSenha">Confirmar senha</label>
                    <div class="div_senha">
                        <input type="password" name="confirmaSenha" id="confirmaSenha" placeholder="Confirme sua senha"
                            oninput="senhasCoincidem()" required>
                        <img src="{{ url_for('static', filename='img/icon_olho_fechado.png') }}" alt="icon olho fechado" id="olho_fechado_cs" onclick="verConfirmaSenha()">
                        <img src="{{ url_for('static', filename='img/icon_olho_aberto.png') }}" alt="icon olho aberto" id="olho_aberto_cs" onclick="verConfirmaSenha()">
                    </div>

                    <p class="erroSenha" id="senhasNaoCoincidem">* Senhas não coincidem</p>

                    <label for="arquivo">Foto de perfil (opcional)</label>
                    <input type="file" name="arquivo" accept=".jpg, .jpeg, .png, .gif">

                    <div class="d-flex between">
                        <button type="submit" id="btnSubmit" disabled>Próximo</button>
                    </div>
                </form>
            </div>
        </section>

        <!-- Terceira etapa -->
        <section id="etapa3" style="display: none;" class="fundo_sem_chapeu column">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <div class="etapas_cadastro d-flex column center">
                <h2>Etapas do cadastro</h2>
                <div class="d-flex center">
                    <div class="bola d-flex center">
                        <p>1</p>
                    </div>
                    <hr>
                    <div class="bola d-flex center">
                        <p>2</p>
                    </div>
                    <hr>
                    <div class="bola bolaP d-flex center">
                        <p>3</p>
                    </div>
                </div>
            </div>
            <div class="fundo_form">
                <h2 class="d-flex center">Confirme seus dados</h2>
                <form action="{{ url_for('cadastro') }}" method="post">
                    <input type="hidden" name="etapa" value="3">

                    <label for="confirmaNome">Nome</label>
                    <input type="text" id="confirmaNome" name="confirmaNome" value="{{ session['nome'] }}" oninput="validaEspacoConfirmaNome()" required>

                    <label for="confirmaCpf">CPF</label>
                    <input type="text" id="confirmaCpf" name="confirmaCpf" minlength="11" maxlength="11" pattern="\d{11}" oninput="this.value = this.value.replace(/\D/g , '')" value="{{ session['cpf'] }}" required>

                    <label for="confirmaDataNascimento">Data de nascimento</label>
                    <input type="date" id="confirmaDataNascimento" name="confirmaDataNascimento"
                        value="{{ session['dataNascimento'] }}" max="9999-12-31" required>

                    <label for="confirmaEmail">Email</label>
                    <input type="email" id="confirmaEmail" name="confirmaEmail" value="{{ session['email'] }}" required>

                    <div class="d-flex between">
                        <button type="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <small>
            <div class="d-flex around footer_infos">
                <div class="d-flex center">
                    <p>ACOMPANHE:</p>
                    <img src="{{ url_for('static', filename='img/whatsapp_icon.png') }}" alt="icon whatsapp"
                        class="redes">
                    <img src="{{ url_for('static', filename='img/linkedin_icon.png') }}" alt="icon linkedin"
                        class="redes">
                    <img src="{{ url_for('static', filename='img/instagram_icon.png') }}" alt="icon instagram"
                        class="redes">
                    <img src="{{ url_for('static', filename='img/facebook_icon.png') }}" alt="icon facebook"
                        class="redes">
                </div>
                <div class="d-flex column center footer_endereco">
                    <p>Gestor Auro | CNPJ: 75.683.189.0005-12</p>
                    <p>R. Barão do Rio Branco, 750 - Centro, Birigui - SP, 16200-001</p>
                </div>
                <div class="logo_footer">
                    <img src="{{ url_for('static', filename='img/logo_clara.png') }}" alt="logo auro">
                </div>
            </div>
            <hr>
            <nav>
                <a href="{{ url_for('index') }}#servicos">Nossos Serviços </a><span>|</span>
                <a href="{{ url_for('index') }}#como_funciona">Como funciona</a><span>|</span>
                <a href="{{ url_for('index') }}#sobre">Quem somos</a>
            </nav>
            <p>© 2025 Auro. Todos os direitos reservados</p>
        </small>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        window.onload = function () {
            var etapa = document.getElementById('etapa_atual').value;
            for (var i = 1; i <= 3; i++) {
                var formulario = document.getElementById('etapa' + i);
                if (i == etapa) formulario.style.display = 'flex';
                else formulario.style.display = 'none';
            }
        }
    </script>
</body>

</html>