<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auro - cadastrar despesa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsivo.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Logo_favicon.png') }}" type="image/x-icon" />
</head>

<body>
    <header class="d-flex between header_dash">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo_escura.png') }}"
                alt="logo"></a>
        <button onclick="menu()" id="menu_hamburguer"><img
                src="{{ url_for('static', filename='img/icon_menu_hamburguer.png') }}"
                alt="icone menu hamburguer"></button>
        <nav class="d-flex around fechado" id="nav">
            <a href="{{ url_for('index') }}#servicos">Nossos serviços</a>
            <a href="{{ url_for('index') }}#sobre">Quem somos</a>
            <a href="{{ url_for('index') }}#como_funciona">Como funciona</a>
            <div class="d-flex center opicoes-nav">
                {% if session['tipo_usuario'] == 0 %}
                <a href="{{ url_for('editar_usuario', cpf=session['cpf_usuario']) }}" class="btn editar-fora-perfil">
                    <img src="{{ url_for('static', filename='img/editar_icon.png') }}" alt="icone editar">
                </a>
                {% endif %}
                <a href="{{ url_for('perfil_cliente') }}" id="perfil"><img
                        src="{{ url_for('static', filename='uploads/' + (session['id_usuario'] | string) + '.' + session['extensao_imagem']) }}"
                        alt="Foto de Perfil"
                        onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/perfil_icon.png') }}';"></a>
                <a href="{{ url_for('logout') }}" class="logar">Sair</a>
            </div>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="faixa_dash d-flex between">
            <h2>Dashboard</h2>
            <!-- <button onclick="menuDash()" id="menu_hamburguer_dash"><img src="../static/img/seta_icon.png"
                    alt="icone menu hamburguer"></button> -->
        </div>
        <!-- <div>
            <nav class="nav_dash_outra d-flex around fechado" id="nav_dash">
                <a href="{{ url_for('dashboard') }}" class="btn">Geral</a>
                <a href="{{ url_for('dashboard_simulacao') }}" class="btn">Simulação</a>
                <a href="{{ url_for('dashboard_historico') }}" class="btn">Histórico</a>
                <a href="{{ url_for('dashboard_extrato') }}" class="btn">Extrato</a>
            </nav>
        </div> -->
        <section class="fundo_sem_chapeu column" id="etapa1">
            <div class="fundo_form">
                <h2 class="d-flex center">Cadastrar despesa</h2>
                {% if session.get('tipo_usuario') == 0 %}
                <form action="{{ url_for('cadastrar_despesa') }}" method="POST">
                {% else %}
                <form action="{{ url_for('admin_cadastrar_despesa', cpf=session['visualizar_usuario_cpf']) }}" method="POST">
                {% endif %}
                    <label for="descricao">Descrição</label>
                    <input type="text" name="descricao" id="descricao" onblur="maiuscula()" oninput="validaEspaco()" maxlength="250" required/>
                    <label for="valor">Valor</label>
                    <input type="number" step="0.01" name="valor" id="valor" min="1" max="90000000000000000" required/>
                    <label for="tipo">Tipo</label>
                    <select name="tipo" id="tipo" required>
                        <option value="" disabled selected>Escolha o tipo</option>
                        <option value="0">Fixo</option>
                        <option value="1">Variável</option>
                    </select>
                    <button type="submit">Cadastrar Despesa</button>
                    <a class="d-flex center btn_cancelar" href="{{ url_for('dashboard_extrato') }}">Cancelar</a>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <small>
            <div class="d-flex around footer_infos">
                <div class="d-flex center">
                    <p>ACOMPANHE:</p>
                    <img src="{{ url_for('static', filename='img/whatsapp_icon.png') }}" alt="icon whatsapp"
                        class="redes">
                    <img src="{{ url_for('static', filename='img/linkedin_icon.png') }}" alt="icon linkedin"
                        class="redes">
                    <img src="{{ url_for('static', filename='img/instagram_icon.png') }}" alt="icon instagram"
                        class="redes">
                    <img src="{{ url_for('static', filename='img/facebook_icon.png') }}" alt="icon facebook"
                        class="redes">
                </div>
                <div class="d-flex column center footer_endereco">
                    <p>Gestor Auro | CNPJ: 75.683.189.0005-12</p>
                    <p>R. Barão do Rio Branco, 750 - Centro, Birigui - SP, 16200-001</p>
                </div>
                <div class="logo_footer">
                    <img src="{{ url_for('static', filename='img/logo_clara.png') }}" alt="logo auro">
                </div>
            </div>
            <hr>
            <nav>
                <a href="{{ url_for('index') }}#servicos">Nossos Serviços</a><span>|</span>
                <a href="{{ url_for('index') }}#como_funciona">Como funciona</a><span>|</span>
                <a href="{{ url_for('index') }}#sobre">Quem somos</a>
            </nav>
            <p>© 2025 Auro. Todos os direitos reservados</p>
        </small>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>