<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auro - Cadastro</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/Logo_favicon.png" type="image/x-icon" />
</head>

<body>
    <header class="d-flex between">
        <a href="index.html"><img src="../static/img/logo_escura.png" alt="logo"></a>
        <nav class="d-flex around">
            <a href="index.html">Nossos serviços</a>
            <a href="index.html">Quem somos</a>
            <a href="index.html">Como funciona</a>
            <a href="login.html" id="logar">Acessar minha conta</a>
        </nav>
    </header>

    <main>
        <!-- Primeira etapa -->
        <section id="etapa1" class="fundo_sem_chapeu column">
            <div class="etapas_cadastro d-flex column center">
                <h2>Etapas do cadastro</h2>
                <div class="d-flex center">
                    <div class="bola bolaP d-flex center">
                        <p>1</p>
                    </div>
                    <hr>
                    <div class="bola d-flex center">
                        <p>2</p>
                    </div>
                    <hr>
                    <div class="bola d-flex center">
                        <p>3</p>
                    </div>
                </div>
            </div>
            <div class="fundo_form">
                <h2 class="d-flex center">Informe seus dados</h2>
                <form>
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome">

                    <label for="cpf">CPF</label>
                    <input type="number" name="cpf" id="cpf" placeholder="Digite seu CPF">

                    <label for="dataNascimento">Data de nascimento</label>
                    <input type="date" name="dataNascimento" id="dataNascimento">

                    <a href="login.html">* Já tenho cadastro</a>
                    <button type="button" onclick="irEtapa2()">Próximo</button>
                </form>
            </div>
        </section>

        <!-- Segunda etapa -->
        <section id="etapa2" style="display: none;" class="fundo_sem_chapeu column">
            <div class="etapas_cadastro d-flex column center">
                <h2>Etapas do cadastro</h2>
                <div class="d-flex center">
                    <div class="bola d-flex center">
                        <p>1</p>
                    </div>
                    <hr>
                    <div class="bola bolaP d-flex center">
                        <p>2</p>
                    </div>
                    <hr>
                    <div class="bola d-flex center">
                        <p>3</p>
                    </div>
                </div>
            </div>
            <div class="fundo_form">
                <h2 class="d-flex center">Crie sua senha</h2>
                <form>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu email">

                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha">

                    <p class="erroSenha" id="especial">* Caracter especial</p>
                    <p class="erroSenha" id="numero">* Número</p>
                    <p class="erroSenha" id="maiuscula">* Maiúscula</p>
                    <p class="erroSenha" id="minuscula">* Minúscula</p>

                    <label for="confirmaSenha">Confirmar senha</label>
                    <input type="password" name="confirmaSenha" id="confirmaSenha" placeholder="Confirme sua senha">

                    <p class="erroSenha" id="senhasNaoCoincidem">* Senhas não coincidem</p>

                    <div class="d-flex between">
                        <button type="button" onclick="irEtapa3()">Próximo</button>
                    </div>
                </form>
            </div>
        </section>

        <!-- Terceira etapa -->
        <section id="etapa3" style="display: none;" class="fundo_sem_chapeu column">
            <div class="etapas_cadastro d-flex column center">
                <h2>Etapas do cadastro</h2>
                <div class="d-flex center">
                    <div class="bola d-flex center">
                        <p>1</p>
                    </div>
                    <hr>
                    <div class="bola d-flex center">
                        <p>2</p>
                    </div>
                    <hr>
                    <div class="bola bolaP d-flex center">
                        <p>3</p>
                    </div>
                </div>
            </div>
            <div class="fundo_form">
                <h2 class="d-flex center">Confirme seus dados</h2>
                <form>
                    <label for="confirmaNome">Nome</label>
                    <input type="text" id="confirmaNome" placeholder="Confirme seu nome">

                    <label for="confirmaCpf">CPF</label>
                    <input type="number" id="confirmaCpf" placeholder="Confirme seu cpf">

                    <label for="confirmaDataNascimento">Data de nascimento</label>
                    <input type="date" id="confirmaDataNascimento">

                    <label for="confirmaEmail">Email</label>
                    <input type="email" id="confirmaEmail" placeholder="Confirme seu email">

                    <div class="d-flex between">
                        <button type="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <small>
            <div class="d-flex between footer_infos">
                <div class="d-flex center">
                    <p>ACOMPANHE:</p>
                    <img src="../static/img/whatsapp_icon.png" alt="icon whatsapp" class="redes">
                    <img src="../static/img/linkedin_icon.png" alt="icon linkedin" class="redes">
                    <img src="../static/img/instagram_icon.png" alt="icon instagram" class="redes">
                    <img src="../static/img/facebook_icon.png" alt="icon facebook" class="redes">
                </div>
                <div class="d-flex column center footer_endereco">
                    <p>Gestor Auro | CNPJ: 75.683.189.0005-12</p>
                    <p>R. Barão do Rio Branco, 750 - Centro, Birigui - SP, 16200-001</p>
                </div>
                <div class="logo_footer">
                    <img src="../static/img/logo_clara.png" alt="logo auro">
                </div>
            </div>
            <hr>
            <nav>
                <a href="#servicos">Nossos Serviços </a><span>|</span>
                <a href="#como_funciona">Como funciona</a><span>|</span>
                <a href="#sobre">Quem somos</a>
            </nav>
            <p>© 2025 Auro. Todos os direitos reservados</p>
        </small>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>