<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auro - login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/Logo_favicon.png" type="image/x-icon" />
</head>

<body>
    <header class="d-flex between">
        <a href="index.html"><img src="../static/img/logo_escura.png" alt="logo"></a>
        <nav class="d-flex around">
            <a href="index.html">Nossos serviços</a>
            <a href="index.html">Quem somos</a>
            <a href="index.html">Como funciona</a>
            <div class="d-flex center">
                <a href="perfil.html" id="perfil"><img src="../static/img/perfil_icon.png" alt="Icon perfil"></a>
                <a href="index.html" id="logar">Sair</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="faixa_dash">
            <h2>Dashboard</h2>
        </div>
        <section class="d-flex fundo_dash formata_altura dash_movimenta">
            <nav class="nav_dash d-flex column center around">
                <a href="dashboard.html" class="btn">Geral</a>
                <a href="dashboard_simulacao.html" class="btn">Simulação</a>
                <a href="dashboard_historico.html" class="btn">Histórico</a>
                <a href="dashboard_movimentacoes.html" class="btn selecionado">Movimentações</a>
            </nav>
            <div class="infos_dash d-flex">
                <div class="receitas">
                    <div class="container_cards">
                        <div class="card_valores">
                            <div class="d-flex between">
                                <h3>Receitas</h3>
                                <div><a href="cadastrar_receita.html" class="adicionar_receita">+</a></div>
                            </div>
                            <p class="positivo">R$0,00</p>
                        </div>
                    </div>
                    <div class="card_receita d-flex between">
                        <h3>Receitas</h3>
                        <p>R$00,00</p>
                        <p>00/00/00</p>
                        <a href="editar_receita.html" class="editar"><img src="../static/img/editar_icon.png" alt="imagem editar"></a>
                    </div>
                    <div class="card_receita d-flex between">
                        <h3>Receitas</h3>
                        <p>R$00,00</p>
                        <p>00/00/00</p>
                        <a href="editar_receita.html" class="editar"><img src="../static/img/editar_icon.png" alt="imagem editar"></a>
                    </div>
                    <div class="card_receita d-flex between">
                        <h3>Receitas</h3>
                        <p>R$00,00</p>
                        <p>00/00/00</p>
                        <a href="editar_receita.html" class="editar"><img src="../static/img/editar_icon.png" alt="imagem editar"></a>
                    </div>
                </div>
                <div class="despesas">
                    <div class="container_cards">
                        <div class="card_valores">
                            <div class="d-flex between">
                                <h3>Despesas</h3>
                                <div><a href="cadastrar_despesa.html" class="adicionar_despesa">+</a></div>
                            </div>
                            <p class="negativo">R$0,00</p>
                        </div>
                    </div>
                    <div class="card_despesa d-flex between">
                        <h3>despesas</h3>
                        <p>R$00,00</p>
                        <p>00/00/00</p>
                        <a href="editar_despesa.html" class="editar"><img src="../static/img/editar_icon.png" alt="imagem editar"></a>
                    </div>
                    <div class="card_despesa d-flex between">
                        <h3>despesas</h3>
                        <p>R$00,00</p>
                        <p>00/00/00</p>
                        <a href="editar_despesa.html" class="editar"><img src="../static/img/editar_icon.png" alt="imagem editar"></a>
                    </div>
                    <div class="card_despesa d-flex between">
                        <h3>despesas</h3>
                        <p>R$00,00</p>
                        <p>00/00/00</p>
                        <a href="editar_despesa.html" class="editar"><img src="../static/img/editar_icon.png" alt="imagem editar"></a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <small>
            <div class="d-flex between footer_infos">
                <div class="d-flex center">
                    <p>ACOMPANHE:</p>
                    <img src="../static/img/whatsapp_icon.png" alt="icon whatsapp" class="redes">
                    <img src="../static/img/linkedin_icon.png" alt="icon linkedin" class="redes">
                    <img src="../static/img/instagram_icon.png" alt="icon instagram" class="redes">
                    <img src="../static/img/facebook_icon.png" alt="icon facebook" class="redes">
                </div>
                <div class="d-flex column center footer_endereco">
                    <p>Gestor Auro | CNPJ: 75.683.189.0005-12</p>
                    <p>R. Barão do Rio Branco, 750 - Centro, Birigui - SP, 16200-001</p>
                </div>
                <div class="logo_footer">
                    <img src="../static/img/logo_clara.png" alt="logo auro">
                </div>
            </div>
            <hr>
            <nav>
                <a href="#servicos">Nossos Serviços </a><span>|</span>
                <a href="#como_funciona">Como funciona</a><span>|</span>
                <a href="#sobre">Quem somos</a>
            </nav>
            <p>© 2025 Auro. Todos os direitos reservados</p>
        </small>
    </footer>
</body>

</html>