<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auro - esqueci minha senha</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/Logo_favicon.png" type="image/x-icon" />
</head>

<body>
    <header class="d-flex between">
        <a href="index.html"><img src="../static/img/logo_escura.png" alt="logo"></a>
        <nav class="d-flex around">
            <a href="index.html">Nossos serviços</a>
            <a href="index.html">Quem somos</a>
            <a href="index.html">Entre em contato</a>
            <a href="login.html" id="logar">Acessar minha conta</a>
            <!-- <a href="perfil.html" id="perfil"><img src="../static/img/perfil_icon.png" alt="Icon perfil"></a> -->
        </nav>
    </header>
    <main>
        <section class="fundo_com_chapeu">
            <div class="fundo_form">
                <h2 class="d-flex center">Recupere a senha</h2>
                <form action="">
                    <label for="codigoVerificacao">Insira o código de verificação</label>
                    <input type="text" name="codigoVerificacao" id="codigoVerificacao">
                    <button type="submit">Alterar senha</button> <!-- Talvez alterar para um link <a>, não sei se vai ser melhor ou não -->
                </form>
            </div>
        </section>
    </main>
    <footer>
        <small>
            <div class="d-flex between">
                <div class="d-flex center">
                    <p>ACOMPANHE:</p>
                    <img src="../static/img/whatsapp_icon.png" alt="icon whatsapp" class="redes">
                    <img src="../static/img/linkedin_icon.png" alt="icon linkedin" class="redes">
                    <img src="../static/img/instagram_icon.png" alt="icon instagram" class="redes">
                    <img src="../static/img/facebook_icon.png" alt="icon facebook" class="redes">
                </div>
                <div class="d-flex column center">
                    <p>Gestor Auro | CNPJ: 75.683.189.0005-12</p>
                    <p>R. Barão do Rio Branco, 750 - Centro, Birigui - SP, 16200-001</p>
                </div>
                <div>
                    <img src="../static/img/logo_clara.png" alt="logo auro">
                </div>
            </div>
            <hr>
            <nav>
                <a href="">Nossos Serviços </a><span>|</span>
                <a href="">Entre em Contato </a><span>|</span>
                <a href="">Quem somos</a>
            </nav>
            <p>© 2025 Auro. Todos os direitos reservados</p>
        </small>
    </footer>
</body>

</html>