<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auro - home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsivo.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Logo_favicon.png') }}" type="image/x-icon" />
</head>

<body>
    <header class="d-flex between">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo_escura.png') }}" alt="logo"></a>
        <button onclick="menu()" id="menu_hamburguer">
            <img src="{{ url_for('static', filename='img/icon_menu_hamburguer.png') }}" alt="Icon menu hamburguer">
        </button>
        <nav class="d-flex around fechado" id="nav">
            <a href="#servicos">Nossos serviços</a>
            <a href="#sobre">Quem somos</a>
            <a href="#como_funciona">Como funciona</a>
            {% if not session.get('usuario_logado') %}
            <a href="{{ url_for('abrir_login') }}" class="logar">Acessar minha conta</a>
            {% else %}
            <div class="d-flex center opicoes-nav">
                {% if session['tipo_usuario'] == 0 %}
                <a href="{{ url_for('editar_usuario', cpf=session['cpf_usuario']) }}" class="btn editar-fora-perfil">
                    <img src="{{ url_for('static', filename='img/editar_icon.png') }}" alt="icone editar">
                </a>
                {% endif %}
                <a href="{{ url_for('perfil_cliente') }}" id="perfil"><img src="{{ url_for('static', filename='uploads/' + (session['id_usuario'] | string) + '.' + session['extensao_imagem']) }}" alt="Foto de Perfil"
onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/perfil_icon.png') }}';"></a>
                <a href="{{ url_for('logout') }}" class="logar">Sair</a>
            </div>
            {% endif %}

        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">

            {% for category, message in messages %}
            <div class="img-{{category}}"></div>
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <section class="fundo banner">
            <div class="banner_infos">
                <div>
                    <h1>Gestão simples,<br>Crédito rápido</h1>
                    <p>Seu negócio cresce com a gente</p>
                    <a href="{{ url_for('abrir_cadastro') }}" class="banner_button">Abra sua conta</a>
                </div>
            </div>
        </section>

        <h1 class="servicos_h1">Nossos Serviços</h1>
        <section class="servicos" id="servicos">
            <div class="servico_card">
                <div class="div_icone"> <!-- Caso precise colocar cor de fundo no icone use essa div-->
                    <img src="../static/img/icone_calculadora.png" alt="icon calculadora">
                </div>
                <p>Simulação precisa</p>
                <br>
                <p>Calcule empréstimos com base nas taxas atuais e avalie o impacto no seu fluxo de caixa</p>
            </div>
            <div class="servico_card">
                <div class="div_icone">
                    <img src="../static/img/icone_escudo.png" alt="icon proteção/anti risco">
                </div>
                <p>Análise de risco</p>
                <br>
                <p>Classificação automática de risco baseada no comprometimento da sua renda mensal</p>
            </div>
            <div class="servico_card">
                <div class="div_icone">
                    <img src="../static/img/icone_grafico.png" alt="icon gráfico com valores aumentando">
                </div>
                <p>Gestão automática</p>
                <br>
                <p>Registro automático de receitas e despesas futuras na sua movimentação financeira</p>
            </div>
        </section>
        <section class="fundo sobre d-flex" id="sobre">
            <div>
                <h1>Sobre a auro</h1>
                <p class="sobre_p">A Auro foi criada para ajudar pequenos empresários a tomar decisões financeiras mais
                    inteligentes.
                    Nossa plataforma combina tecnologia avançada com simplicidade de uso</p>
            </div>
            <div>
                <div class="fundo_sobre_items d-flex center column">
                    <div class="divisor_items d-flex around">
                        <div class="sobre_items">
                            <h3>100%</h3>
                            <p>Precisão nos cálculos</p>
                        </div>
                        <div class="sobre_items">
                            <h3>24/07</h3>
                            <p>Disponibilidade</p>
                        </div>
                    </div>
                    <div class="divisor_items d-flex around">
                        <div class="sobre_items">
                            <h3>100%</h3>
                            <p>Segurança</p>
                        </div>
                        <div class="sobre_items">
                            <h3>200.000</h3>
                            <p>Clientes atendidos</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="como_funciona" id="como_funciona">
            <h1 class="cf_titulo">Como funciona</h1>
            <div class="cf_dupla_div d-flex around">
                <div class="div_cf">
                    <div>
                        <img src="../static/img/icone_cadastro.png" alt="icon cadastro">
                    </div>
                    <div>
                        <h3>Cadastre-se</h3>
                        <p>Cadastre-se para poder salvar suas movimentações e fazer emprestimos</p>
                    </div>
                </div>
                <div class="div_cf">
                    <div>
                        <img src="../static/img/icone_emprestimo.png" alt="icon emprestimo">
                    </div>
                    <div>
                        <h3>Simule seus empréstimo</h3>
                        <p>Simulação automática de risco baseada no comprometimento da sua renda mensal</p>
                    </div>
                </div>
            </div>
            <div class="cf_dupla_div d-flex around">
                <div class="div_cf">
                    <div>
                        <img src="../static/img/icone_analise.png" alt="icon analise">
                    </div>
                    <div>
                        <h3>Receba a análise de risco</h3>
                        <p>Calcule empréstimos com base nas taxas atuais e avalie o impacto no seu fluxo de caixa</p>
                    </div>
                </div>
                <div class="div_cf">
                    <div>
                        <img src="../static/img/icone_banco.png" alt="icon banco">

                    </div>
                    <div>
                        <h3>Controle seu caixa</h3>
                        <p>Área expecífica para visualização do fluxo de caixa</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <small>
            <div class="d-flex around footer_infos">
                <div class="d-flex center">
                    <p>ACOMPANHE:</p>
                    <img src="{{ url_for('static', filename='img/whatsapp_icon.png') }}" alt="icon whatsapp"
                        class="redes">
                    <img src="{{ url_for('static', filename='img/linkedin_icon.png') }}" alt="icon linkedin"
                        class="redes">
                    <img src="{{ url_for('static', filename='img/instagram_icon.png') }}" alt="icon instagram"
                        class="redes">
                    <img src="{{ url_for('static', filename='img/facebook_icon.png') }}" alt="icon facebook"
                        class="redes">
                </div>
                <div class="d-flex column center footer_endereco">
                    <p>Gestor Auro | CNPJ: 75.683.189.0005-12</p>
                    <p>R. Barão do Rio Branco, 750 - Centro, Birigui - SP, 16200-001</p>
                </div>
                <div class="logo_footer">
                    <img src="{{ url_for('static', filename='img/logo_clara.png') }}" alt="logo auro">
                </div>
            </div>
            <hr>
            <nav>
                <a href="{{ url_for('index') }}#servicos">Nossos Serviços</a><span>|</span>
                <a href="{{ url_for('index') }}#como_funciona">Como funciona</a><span>|</span>
                <a href="{{ url_for('index') }}#sobre">Quem somos</a>
            </nav>
            <p>© 2025 Auro. Todos os direitos reservados</p>
        </small>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>