<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auro - login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/Logo_favicon.png" type="image/x-icon" />
</head>

<body>
    <header class="d-flex between">
        <a href="index.html"><img src="../static/img/logo_escura.png" alt="logo"></a>
        <nav class="d-flex around">
            <a href="index.html">Nossos serviços</a>
            <a href="index.html">Quem somos</a>
            <a href="index.html">Entre em contato</a>
            <div class="d-flex center">
                <a href="perfil.html" id="perfil"><img src="../static/img/perfil_icon.png" alt="Icon perfil"></a>
                <a href="index.html" id="logar">Sair</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="fundo formata_altura d-flex center">
            <div class="fundo_perfil">
                <h2>Bem-vindo 'usuário'</h2>
                <hr>
                <div class="infos_perfil d-flex around">
                    <p>Nome do usuário</p>
                    <p>Data de nascimento</p>
                    <a href="editar_perfil"><img src="../static/img/editar_icon.png" alt=""></a>
                    <a href="dashboard.html" class="btn">Ir para dashboard</a>
                </div>

                <div class="container_cards d-flex between">
                    <div class="card_valores">
                        <h3>Receitas</h3>
                        <p class="positivo">R$0,00</p>
                    </div>
                    <div class="card_valores">
                        <h3>Despesas</h3>
                        <p class="negativo">R$0,00</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <small>
            <div class="d-flex between">
                <div class="d-flex center">
                    <p>ACOMPANHE:</p>
                    <img src="../static/img/whatsapp_icon.png" alt="icon whatsapp" class="redes">
                    <img src="../static/img/linkedin_icon.png" alt="icon linkedin" class="redes">
                    <img src="../static/img/instagram_icon.png" alt="icon instagram" class="redes">
                    <img src="../static/img/facebook_icon.png" alt="icon facebook" class="redes">
                </div>
                <div class="d-flex column center">
                    <p>Gestor Auro | CNPJ: 75.683.189.0005-12</p>
                    <p>R. Barão do Rio Branco, 750 - Centro, Birigui - SP, 16200-001</p>
                </div>
                <div>
                    <img src="../static/img/logo_clara.png" alt="logo auro">
                </div>
            </div>
            <hr>
            <nav>
                <a href="">Nossos Serviços </a><span>|</span>
                <a href="">Entre em Contato </a><span>|</span>
                <a href="">Quem somos</a>
            </nav>
            <p>© 2025 Auro. Todos os direitos reservados</p>
        </small>
    </footer>
</body>

</html>