<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auro - login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsivo.css">
    <link rel="shortcut icon" href="../static/img/Logo_favicon.png" type="image/x-icon" />
</head>

<body>
    <header class="d-flex between header_dash">
        <a href="index.html"><img src="../static/img/logo_escura.png" alt="logo"></a>
        <button onclick="menu()" id="menu_hamburguer"><img src="../static/img/icon_menu_hamburguer.png"
                alt="icone menu hamburguer"></button>
        <nav class="d-flex around fechado" id="nav">
            <a href="index.html#servicos">Nossos serviços</a>
            <a href="index.html#sobre">Quem somos</a>
            <a href="index.html#como_funciona">Como funciona</a>
            <div class="d-flex center">
                <a href="perfil_adm.html" id="perfil"><img src="../static/img/perfil_icon.png" alt="Icon perfil"></a>
                <a href="index.html" id="logar">Sair</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="fundo formata_altura d-flex center">
            <div class="fundo_perfil">
                <h2>Bem-vindo 'adm'</h2>
                <hr>
                <div class="d-flex column adm_info">
                    <h2>Usuários</h2>
                    <div class="d-flex usuarios">
                        <a href="perfil.html">
                            <div class="fundo_cards_adm">
                                <img src="../static/img/perfil_icon.png" alt="icon perfil">
                                <p>Nome do usuário</p>
                            </div>
                        </a>
                        <a href="perfil.html">
                            <div class="fundo_cards_adm">
                                <img src="../static/img/perfil_icon.png" alt="icon perfil">
                                <p>Nome do usuário</p>
                            </div>
                        </a>
                        <a href="perfil.html">
                            <div class="fundo_cards_adm">
                                <img src="../static/img/perfil_icon.png" alt="icon perfil">
                                <p>Nome do usuário</p>
                            </div>
                        </a>
                        <a href="perfil.html">
                            <div class="fundo_cards_adm">
                                <img src="../static/img/perfil_icon.png" alt="icon perfil">
                                <p>Nome do usuário</p>
                            </div>
                        </a>
                        <a href="perfil.html">
                            <div class="fundo_cards_adm">
                                <img src="../static/img/perfil_icon.png" alt="icon perfil">
                                <p>Nome do usuário</p>
                            </div>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="d-flex column adm_info">
                    <dv class="d-flex">
                        <h2>Adiministradores</h2>
                        <a href="cadastrar_adm.html" class="adicionar_adm">+</a>
                    </dv>
                    <div class="d-flex adms">
                        <div class="fundo_cards_adm">
                            <img src="../static/img/perfil_icon.png" alt="icon perfil">
                            <p>Nome do administrador</p>
                        </div>
                        <div class="fundo_cards_adm">
                            <img src="../static/img/perfil_icon.png" alt="icon perfil">
                            <p>Nome do administrador</p>
                        </div>
                        <div class="fundo_cards_adm">
                            <img src="../static/img/perfil_icon.png" alt="icon perfil">
                            <p>Nome do administrador</p>
                        </div>
                        <div class="fundo_cards_adm">
                            <img src="../static/img/perfil_icon.png" alt="icon perfil">
                            <p>Nome do administrador</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex column adm_info">
                    <div class="d-flex">
                        <h2>Taxas</h2>
                        <a href="adicionar_taxa.html" class="adicionar_taxa">+</a>
                    </div>
                    <div class="d-flex taxas">
                        <div class="fundo_cards_adm">
                            <p>2025</p>
                            <p>R$ 0,00</p>
                        </div>
                        <div class="fundo_cards_adm">
                            <p>2024</p>
                            <p>R$ 0,00</p>
                        </div>
                        <div class="fundo_cards_adm">
                            <p>2023</p>
                            <p>R$ 0,00</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <small>
            <div class="d-flex around footer_infos">
                <div class="d-flex center">
                    <p>ACOMPANHE:</p>
                    <img src="../static/img/whatsapp_icon.png" alt="icon whatsapp" class="redes">
                    <img src="../static/img/linkedin_icon.png" alt="icon linkedin" class="redes">
                    <img src="../static/img/instagram_icon.png" alt="icon instagram" class="redes">
                    <img src="../static/img/facebook_icon.png" alt="icon facebook" class="redes">
                </div>
                <div class="d-flex column center footer_endereco">
                    <p>Gestor Auro | CNPJ: 75.683.189.0005-12</p>
                    <p>R. Barão do Rio Branco, 750 - Centro, Birigui - SP, 16200-001</p>
                </div>
                <div class="logo_footer">
                    <img src="../static/img/logo_clara.png" alt="logo auro">
                </div>
            </div>
            <hr>
            <nav>
                <a href="index.html#servicos">Nossos Serviços </a><span>|</span>
                <a href="index.html#como_funciona">Como funciona</a><span>|</span>
                <a href="index.html#sobre">Quem somos</a>
            </nav>
            <p>© 2025 Auro. Todos os direitos reservados</p>
        </small>
    </footer>
    <script src="../static/js/script.js"></script>
</body>

</html>